
/* defalt css */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
  --btn-color:linear-gradient(180deg, #FF589B -0.01%, #FF136F 99.99%);
              border-radius: 6px;
  --f-w-color:linear-gradient(152.07deg, #FF9C35 1.47%, #FFD019 97.17%);
  --th-w-color:linear-gradient(170.41deg, #4289FF -10.89%, #3F07F8 92.77%);
  --p-color:#4E4E4E;
  --see-more-color:#FF9D00;
  --h1-color:#1F1F1F;
  --money-text-color:#FF136F;
  --desktop-bg-color: #FF6347;
}
.btn-primary {
  background: var(--btn-color);
  padding: 16px 32px;
  color: #fff;
  border: 1px solid var(--btn-color);
  border-radius: 7px;
  font-weight: 900;
}

* {
  margin: 0;
  padding: 0;
}

body{
  font-family: 'Poppins', sans-serif;
  background-color: #fff;
  color: #000;
  font-size: 1em;
  line-height: 22px;
}


.btn-primary{
  background-color: #F50808;
  /* background: linear-gradient(to top right, #ff0066 6%, #dd0a0a 100%); */
}
.btn-primary:hover {
  background-color: #b90a0a;
  /* background: linear-gradient(to top right, #ff0066 6%, #ff0000 100%); */

}



