/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */


.btn-primary{
  background-color: #F50808;
  /* background: linear-gradient(to top right, #ff0066 6%, #dd0a0a 100%); */
}
.btn-primary:hover {
  background-color: #b90a0a;
  /* background: linear-gradient(to top right, #ff0066 6%, #ff0000 100%); */

}